<% content_for :title, "New todo" %>

<h1 class="text-2xl font-bold text-gray-800 mb-4">New todo</h1>

<%= render "form", todo: @todo %>

<div class="mt-4">
  <%= link_to "Back to todos", todos_path, class: "text-blue-600 hover:underline" %>
</div>
